
<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img src="https://img.icons8.com/fluency/2x/angularjs.png" style="width: 50px;" alt=""> Componentes Angular</h5>
          <div>
                <p class="text-center" style="font-size: 10rem; padding: 0px !important; margin: 0px !important;"#pres name="numero">{{numero}}</p>
          </div>
          <div class="d-flex gap-2">
            <div><button class="btn btn-primary" (click)="incremeto()" ><i class="fa-solid fa-square-plus pe-2"></i>Incremento</button></div>
            <div><button class="btn btn-danger" (click)="decremeto()"><i class="fa-sharp fa-solid fa-square-minus pe-2"></i>Decremento</button></div>
          </div>
        </div>
      </div>
</div>

